<% data_action ||= nil %>
<div class="mdc-select mdc-select--outlined input"
     data-target="<%= data_target %>"
     data-mdc-auto-init="MDCSelect">
  <div class="mdc-select__anchor">
    <div class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__notch">
        <span id="outlined-select-label" class="mdc-floating-label"><%= text %></span>
      </span>
      <span class="mdc-notched-outline__trailing"></span>
    </div>
    <span id="demo-selected-text" class="mdc-select__selected-text"></span>
    <span class="mdc-select__dropdown-icon">
      <svg
        class="mdc-select__dropdown-icon-graphic"
        viewBox="7 10 10 5">
        <polygon
          class="mdc-select__dropdown-icon-inactive"
          stroke="none"
          fill-rule="evenodd"
          points="7 10 12 15 17 10">
        </polygon>
        <polygon
          class="mdc-select__dropdown-icon-active"
          stroke="none"
          fill-rule="evenodd"
          points="7 15 12 10 17 15">
        </polygon>
      </svg>
    </span>
  </div>

  <div class="mdc-select__menu mdc-menu-surface mdc-menu-surface--fullwidth">
    <ul class="mdc-list">
      <li class="mdc-list-item mdc-list-item--selected" data-value="">
        <span class="mdc-list-item__ripple"></span>
      </li>
      <% option_tags.each do |tag| %>
        <li class="mdc-list-item" data-value="<%= tag[:value] %>">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text"><%= tag[:label] %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
