<div data-controller="search"
     data-search-step="0"
     data-search-url="<%= search_players_path %>">
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" data-mdc-auto-init="MDCTextField">
        <div class="mdc-text-field mdc-text-field--fullwidth mdc-theme--primary-bg">
          <input id="search-input" class="mdc-text-field__input search-text-field" type="text" data-target="search.searchInput" data-action="input->search#searchChange">
          <label for="search-input" class="mdc-floating-label mdc-theme--on-surface">Search</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </section>
    </div>
  </header>
  <%= render 'shared/search_results' %>
</div>
