<%= form_tag(accuse_game_player_path(@game.id), method: :post, local: true, "data-target": "upload-steps.accusationForm") do %>
  <div class="row justify-content-center">
    <div class="col-100 desktop-25 tablet-50">
      <div class="block-title">Accuse a player</div>
      <div class="list no-hairlines-md">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item title item-floating-label">Pick a player to accuse</div>
              <div class="item-input-wrap input-dropdown-wrap">
                <%= select_tag "player", options_from_collection_for_select(@game.players, "bnet_id", "name"), { include_blank: true, "data-target": "upload-steps.playerSelect", "data-action": "change->playerChanged" } %>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item title item-floating-label">Evidence</div>
              <div class="item-input-wrap">
                <%= text_area_tag("evidence", nil, { "data-target": "upload-steps.evidence", "data-action": "input->upload-steps#evidenceChanged" }) %>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row justify-content-right">
        <div class="col">
          <%= submit_tag(nil, class: "button") %>
        </div>
      </div>
    </div>
  </div>
<% end %>