<% open_in_new_tab ||= false %>
<a href="<%= link %>"
   target="<%= "_blank" if open_in_new_tab %>"
   class="mdc-button mdc-card__action mdc-card__action--button mdc-theme--on-surface">
  <div class="mdc-button__ripple"></div>
  <span class="mdc-button__label"><%= yield %></span>
</a>
