<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet"></div>
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell">
    <%= yield %>
  </div>
</div>