<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">SC2Overwatch</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Recent</a></li>
      <li><a href="#">Players</a></li>
    </ul>
  </div>
</nav>