<div class="search-results-background" data-target="nav.searchResultsContainer" >
  <div class="mdc-top-app-bar--fixed-adjust"></div>
  <div class="search-results-container">
    <div class="mdc-typography--headline4 mdc-theme--on-surface" data-target="nav.step">Please enter a search query</div>
    <div data-target="nav.step" class="hide">
      <%= render 'components/loader' %>
    </div>
    <div data-target="nav.step"></div>
  </div>
</div>