<div class="search-results-background" >
  <div class="mdc-top-app-bar--fixed-adjust"></div>
  <div class="search-results-container">
    <div class="mdc-typography--headline4 mdc-theme--on-surface" data-target="nav.searchPlaceholder">Please enter a search query</div>
    <%= render 'components/loader' %>
    <div data-target="nav.searchResults"></div>
  </div>
</div>