<%
  [
    { text: "Recently Reported", link: game_players_path },
    { text: "All Reported Players", link: players_path },
  ].map do |i| %>
  <a class="mdc-list-item <%= request.path.start_with?(i[:link]) ? 'mdc-list-item--activated' : '' %>" href="<%= i[:link] %>">
    <span class="mdc-list-item__text"><%= i[:text] %></span>
  </a>
<% end %>
