<aside class="mdc-drawer mdc-drawer--modal" data-target="nav.drawer">
  <div class="mdc-drawer__content">
    <nav class="mdc-list" data-target="nav.list">
      <%= render 'drawer/drawer_items' %>
    </nav>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>