<div class="permanent-drawer" id="permanent-drawer" data-turbolinks-permanent>
  <div class="mdc-drawer" data-controller="permanent-drawer">
    <div class="mdc-drawer__content">
      <nav class="mdc-list" data-target="permanent-drawer.list">
        <%= render 'drawer/drawer_items' %>
      </nav>
    </div>
  </div>
</div>


