<p id="notice"><%= notice %></p>

<div class="mdc-layout-grid__inner">
  <% @game_players.map do |gp| %>
    <div class="mdc-layout-grid__cell">
      <%= render 'shared/game_player_card', game_player: gp %>
    </div>
  <% end %>
</div>
