<div data-controller="accusation" data-accusation-form-valid="false">
  <%= form_tag(update_game_player_path(game_id: @game.id), remote: true, "data-target": "accusation.form") do %>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
          <h1 class="mdc-typography--headline5 mdc-theme--on-surface">Accuse a player</h1>
          <%= render 'components/select',
              name: "player",
              option_tags: options_from_collection_for_select(@game.players, "id", "name"),
              text: "Pick a player",
              data_target: "accusation.playerSelect",
              data_action: "change->accusation#playerChanged"
          %>
          <%= render 'components/text_area', {
              name: "evidence",
              text: "Evidence",
              data_target: "accusation.evidence",
              data_action: "input->accusation#evidenceChanged"
          }
          %>
          <%= render 'components/button',
              text: "Submit",
              data_target: "accusation.submitButton"
          %>
        </div>
      </div>
    </div>
  <% end %>
</div>