<% if @players.empty? %>
  <div class="mdc-typography--headline4 mdc-theme--on-surface">
    No results for
    <strong><%= params[:q] %></strong>
    were found
  </div>
<% else %>
  <ul class="mdc-list" data-target="nav.searchResultList">
    <% @players.map do |p| %>
      <a href="<%= player_path(p) %>" class="mdc-list-item" >
        <span class="mdc-list-item__graphic">
          <%= render 'components/flag', id: p.server %>
        </span>
        <span class="mdc-list-item__text"><%= p.name %></span>
      </a>
      <li role="separator" class="mdc-list-divider"></li>
  <% end %>
  </ul>
<% end %>
