@import "./*";

body {
  margin: 0;
}

.input {
  margin-bottom: 16px;
  width: 100% !important;
}

.drawer-offset {
  margin-left: 256px;
  margin-right: 0;
}

.text-align-center {
  text-align: center;
}

.modal h5 {
  font-weight: 500;
}

.collapsible {
  box-shadow: none;
}

.collapsible-header {
  font-weight: 500;
}

.collapsible-body {
  font-weight: 400;
}

button.open-upload-modal-button {
  position: fixed;
  bottom: 32px;
  right: 8px;
}

.upload-input {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  text-align: center;
}

.upload-step {
  display: none;
  width: 100%;
  &.upload-step--current {
    display: block
  }
}

nav .site-title {
  padding: 0 15px
}