<div data-controller="nav" data-nav-search-open="false" data-nav-step="0" data-nav-search-url="<%= search_players_path %>">
  <%= render "nav/navbar" %>
  <div data-target="nav.search">
    <%= render 'search/search' %>
  </div>
  <%= render 'nav/drawer_modal' %>
</div>