<header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z1" data-mdc-auto-init="MDCTopAppBar" data-target="nav.navbar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <div class="drawer-button">
        <a class="material-icons mdc-top-app-bar__navigation-icon" data-action="click->nav#toggleDrawer">menu</a>
      </div>
      <span class="mdc-top-app-bar__title">SC2Overwatch</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" data-action="click->nav#toggleSearch">search</a>
    </section>
  </div>
</header>
