<div class="fab fab-right-bottom"
     data-target="upload-modal.openButton"
     data-action="click->upload-modal#openModal">
  <a href="#">
    <i class="icon material-icons">add</i>
  </a>
</div>

<button type="button"
        class="btn btn-primary bmd-btn-fab open-upload-modal-button"
        data-action="click->upload-modal#openModal"
>
  <i class="material-icons">add</i>
</button>