<button class="open-upload-modal-button mdc-fab"
        data-target="upload-modal.openButton"
        data-action="click->upload-modal#openModal"
        data-mdc-auto-init="MDCRipple"
        aria-label="Upload">
  <span class="mdc-fab__icon material-icons">add</span>
</button>