<div data-controller="upload-modal">
  <div class="dialog" data-target="upload-modal.modal">
    <div data-controller="upload-steps" data-upload-steps-step="0" data-upload-steps-open="false">
      <div class="dialog-inner">
        <div class="dialog-title">Test</div>
        <%= render 'upload_modal/upload_step' %>
        <%= render 'upload_modal/intermediary_step' %>
      </div>
    </div>
  </div>
  <%= render 'upload_modal/open_upload_modal_button' %>
</div>
