

<div data-controller="upload-modal" data-upload-modal-step="0" data-upload-modal-open="false">
  <div class="dialog" data-target="upload-modal.modal">
    <div class="dialog-inner">
      <div class="dialog-title">Test</div>
      <div class="dialog-input">
        <div class="item-input-wrap">
          <label>
            <select>
              <option>test</option>
            </select>
          </label>
          <span class="input-clear-button"></span>

        </div>
      </div>
    </div>
  </div>
<!--  <div class="mdc-dialog"-->
<!--       aria-modal="true"-->
<!--       aria-labelledby="upload-modal-title"-->
<!--       aria-describedby="upload-modal-content"-->
<!--       data-tarwfwfget="upload-modal.modal">-->
<!--    <div class="mdc-dialog__container">-->
<!--      <div class="mdc-dialog__surface">-->
<!--        <h2 class="mdc-dialog__title" id="upload-modal-title">Upload a replay</h2>-->
<!--        <div class="mdc-dialog__content" id="upload-modal-content">-->
          <%#= render 'upload_modal/upload_step' %>
          <%#= render 'upload_modal/intermediary_step' %>
          <%#= render 'upload_modal/accuse_step' %>
          <%#= render 'upload_modal/intermediary_step' %>
<!--        </div>-->
<!--        <footer class="mdc-dialog__actions">-->
<!--          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">-->
<!--            <span class="mdc-button__label">Cancel</span>-->
<!--          </button>-->
<!--          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="submit" data-target="upload-modal.submitButton" data-action="upload-modal#submitAccusation">-->
<!--            <span class="mdc-button__label">Submit</span>-->
<!--          </button>-->
<!--        </footer>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="mdc-dialog__scrim"></div>-->
<!--  </div>-->
  <%= render 'upload_modal/open_upload_modal_button' %>
</div>
