<div data-controller="upload-modal" data-upload-modal-step="0" data-upload-modal-open="false">
  <div class="mdc-dialog"
       aria-modal="true"
       aria-labelledby="upload-modal-title"
       aria-describedby="upload-modal-content"
       data-target="upload-modal.modal">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <h2 class="mdc-dialog__title" id="upload-modal-title">Upload a replay</h2>
        <div class="mdc-dialog__content" id="upload-modal-content">
          <div data-controller="upload-steps" data-upload-steps-step="0">
            <%= render 'upload_modal/upload_step' %>
            <%= render 'upload_modal/intermediary_step' %>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>
  <%= render 'upload_modal/open_upload_modal_button' %>
</div>
