<div class="upload-step" data-target="upload-modal.step">
  <%= form_tag({ controller: :replay, action: :create }, class: 'upload-input', 'data-target': 'upload-modal.dropzone') do %>
    Click to select a file, or drop one here.
  <% end %>
</div>