<div data-controller="upload-modal">

  <div class="mdc-dialog"
       aria-modal="true"
       aria-labelledby="upload-modal-title"
       aria-describedby="upload-modal-content"
       data-target="upload-modal.modal">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <h2 class="mdc-dialog__title" id="upload-modal-title">Upload a replay</h2>
        <div class="mdc-dialog__content" id="upload-modal-content">
          <div class="upload-state upload-state--current" data-target="upload-modal.placeholder">
            <%= form_tag({ controller: :replay, action: :create }, class: 'upload-input', 'data-target': 'upload-modal.dropzone', 'data-action': 'success->upload-modal#uploadFinished') do %>
                Click to select a file, or drop one here.
            <% end %>
          </div>
          <div class="upload-state" data-target="upload-modal.loader">
              <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
                <div class="mdc-linear-progress__buffering-dots"></div>
                <div class="mdc-linear-progress__buffer"></div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                  <span class="mdc-linear-progress__bar-inner"></span>
                </div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                  <span class="mdc-linear-progress__bar-inner"></span>
                </div>
              </div>
            </div>

        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
            <span class="mdc-button__label">Cancel</span>
          </button>
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="submit" disabled>
            <span class="mdc-button__label">Submit</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>
  <button class="open-upload-modal-button mdc-fab"
          data-target="upload-modal.openButton"
          data-action="click->upload-modal#openModal"
          data-mdc-auto-init="MDCRipple"
          aria-label="Upload">
    <span class="mdc-fab__icon material-icons">add</span>
  </button>
</div>

<!--<div data-controller="upload-modal">-->
<!--  <div class="modal" data-target="upload-modal.modal">-->
<!--    <div class="modal-content">-->
<!--      <h5>Report a player</h5>-->
<!--      <ul class="collapsible" data-target="upload-modal.collapse">-->
<!--        <li class="active">-->
<!--          <div class="collapsible-header">Upload a replay</div>-->
<!--          <div class="collapsible-body">-->

<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="collapsible-header">Enter Details</div>-->
<!--          <div class="collapsible-body">-->
<!--            test 2-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit</a>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->